@charset "UTF-8";
/*******/
/* DOM */
/*******/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
:root {
  --couleur-principale: #DD6B20;
  --couleur-hover: #ED8936;
}

html,
body {
  background-color: #718096;
  color: #FFF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: url("../images/header.jpg") no-repeat fixed center;
  background-color: #DFDBE5;
  background-size: cover;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 40px 0;
}

h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.btn-success {
  background-color: var(--couleur-principale);
  transition: .3s;
  margin: 25px 0;
}

.btn-success:hover {
  background-color: var(--couleur-hover);
  transition: .3s;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

/******************/
/*   NAVIGATION   */
/******************/
.navigbar {
  background-color: var(--couleur-principale);
  opacity: 0.9;
  line-height: 65px;
  height: 65px;
  padding: 0;
  width: 100%;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.navigbar a {
  padding: 0 20px;
  transition: all .2s ease-in;
}

.navigbar a:hover {
  color: #000;
  text-decoration: none;
  transition: all .2s ease-out;
  cursor: pointer;
  background-color: var(--couleur-principale);
}

.helv-bold {
  font-weight: 800;
}

.topnav {
  justify-items: flex-end;
}

/**************/
/*   ENTETE   */
/**************/
.header {
  min-height: calc(100vh-65px);
  height: 93vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

.title {
  background-color: rgba(0, 0, 0, 0.9);
  mix-blend-mode: multiply;
  width: 100%;
  max-width: 960px;
  padding: 75px;
  display: flex;
}

.title h1 {
  color: #fff;
  font-size: 4em;
  opacity: 1;
}

.title span {
  text-align: right;
}

#arrow {
  color: black;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(0, -50%);
  -webkit-animation: arrow-jump 1s infinite;
  /* Safari 4+ */
  -moz-animation: arrow-jump 1s infinite;
  /* Fx 5+ */
  -o-animation: arrow-jump 1s infinite;
  /* Opera 12+ */
  animation: arrow-jump 1s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes arrow-jump {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
  }
}

/************************/
/*   CURRICULUM VITAE   */
/************************/
.cv {
  min-height: calc(100vh - 65px);
  background-color: #FFF;
  color: #4F5858;
  padding: 50px 15px 80px 15px;
}

.cv-container {
  display: flex;
}

.cv-emplois {
  padding-right: 25px;
  flex: 2;
}

.cv-competences {
  border-left: 1px solid #E2E8F0;
  flex: 1;
  padding-left: 25px;
}

.cv h4 {
  color: var(--couleur-principale, #d65f00);
  margin: 25px 0 10px 0;
}

.cv h5 {
  color: #000;
  margin: 5px 0;
}

.cv a {
  color: var(--couleur-principale);
}

.cv a:hover {
  color: #4F5858;
}

.cv-poste {
  color: #6f7c7d;
}

/*****************/
/*   PORTFOLIO   */
/*****************/
.portfolio {
  background-color: #718096;
  padding: 50px 15px 80px 15px;
}

.portfolio p {
  padding-bottom: 25px;
}

.reseaux-soc a {
  margin: 25px 25px 25px 0;
  padding: 20px 35px;
  border-radius: 10px;
  background-color: var(--couleur-principale);
  color: #fff;
  line-height: 40px;
  transition: all .2s ease-in;
}

.reseaux-soc a:hover {
  transition: all .2s ease-in;
  background-color: var(--couleur-hover);
}

.reseaux-soc a svg {
  transform: translateY(25%) scale(0.9);
  margin-right: 10px;
}

/****************/
/*   CONTACT    */
/****************/
.contact {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 15px 80px 15px;
}

.mobile {
  font-size: 1.5em;
}

/****************/
/* PIED DE PAGE */
/****************/
.footer {
  background-color: var(--couleur-principale);
  padding: 15px;
  color: #fff;
}

.pied-nav li {
  margin: 5px;
}

.footer a {
  transition: .5s;
  color: #f2f2f2;
}

.footer a:hover {
  color: #4F5858;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

.footer h4 {
  margin-top: 15px;
}

#copy {
  font-size: 0.75em;
  text-align: center;
}

#copy a {
  text-decoration: none;
  color: #4F5858;
}

/*************/
/*   UTILS   */
/*************/
.list-unstyled {
  list-style: none;
  margin-left: -40px;
  display: flex;
  flex-wrap: wrap;
}

.list-unstyled li {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/************************************/
/*   REQUÈTES MÉDIAS / RESPONSIVE   */
/************************************/
@media screen and (max-width: 768px) {
  body {
    font-weight: 400;
  }
  header .title {
    align-items: center;
  }
  header .title h1 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Roboto',Helvetica, Arial, sans-serif;
    text-align: center;
  }
  header #arrow {
    display: none;
  }
  .topnav li:last-child {
    display: inline;
  }
  .cv-container {
    flex-direction: column;
  }
  .cv-competences {
    border-left: 0;
    padding-left: 0;
    border-top: 1px solid #82858a;
    padding-top: 25px;
    margin-top: 25px;
  }
  .reseaux-soc {
    flex-direction: column;
  }
  .reseaux-soc a {
    text-align: center;
    margin: 15px 0;
  }
}

@media screen and (max-width: 1199px) {
  .separation {
    border-top: 1px solid #DDD;
    margin-top: 20px;
  }
}
